body{background-color:#dddddd;
margin-left: 20%;
margin-right: 20%;
border: 3px solid red;
padding:20px 20px 20px 20px;
font-family: 나눔고딕;}
.title1{color:#0667b1}
.list{list-style:none;color:gray}
.subti{font-weight: bold}
.cont{color:gray}
.solid{border:1px gray solid;text-align:center}
